.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10vw;
}
.sidebar__headerRight > .MuiSvgIcon-root {
  margin-right: 2vw;
  font-size: 24px !important;
}

.sidebar__search {
  display: flex;
  align-items: center;

  height: 39px;
  padding: 10px;

  background-color: #f6f6f6;
}
.sidebar__searchContainer {
  display: flex;
  align-items: center;

  width: 100%;
  height: 35px;
  border-radius: 20px;

  background-color: #fff;
}
.sidebar__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
  font-size: 48px;
}

.sidebar__searchContainer > input {
  border: none;
  outline-width: 0;
  margin-left: 10px;
}

.sidebar__chats {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow: scroll;

  padding-top: 10px;

  background-color: #fff;
}

.sidebar__chat {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 20px;
  border-bottom: 1px solid #f6f6f6;
}

.sidebar__chat:hover {
  background-color: #ebebeb;
}

.sidebar__chatName {
  margin-left: 20px;
}

.sidebar__chatName > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebar__chatName > p {
  font-size: 14px;
}
